[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# common
user=mysql
server_id=1
port=3306
max_connections=50
character_set_server=utf8
query_cache_size=16M
query_cache_type=2
log_bin
binlog_format=MIXED
max_binlog_size=64M
expire_logs_days=15
sync_binlog=1
slow_query_log
long_query_time=3
log_output=FILE

# innodb
innodb_buffer_pool_size=128M
innodb_additional_mem_pool_size=8M
innodb_file_per_table
innodb_autoextend_increment=32M
innodb_support_xa=1
innodb_flush_log_at_trx_commit=1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
